// colors

$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);
$gray-blue: hsl(240, 2%, 79%);
$very-dark-blue: hsl(240, 10%, 16%);
$very-dark-desa-blue: hsl(237, 23%, 32%);
$orange: hsl(13, 100%, 72%);

// fonts

$overpass: 'Overpass', sans-serif;
$ubuntu:'Ubuntu', sans-serif;


// opacity

$opacity: .7;